include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include reflection_telegram *.css
recursive-include reflection_telegram *.csv
recursive-include reflection_telegram *.html
recursive-include reflection_telegram *.ico
recursive-include reflection_telegram *.js
recursive-include reflection_telegram *.json
recursive-include reflection_telegram *.md
recursive-include reflection_telegram *.png
recursive-include reflection_telegram *.py
recursive-include reflection_telegram *.svg
recursive-include reflection_telegram *.txt
recursive-exclude reflection_telegram *.pyc